.category-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 100px;
}

@media only screen and (max-width: 576px) {
  .category-container{
    grid-template-columns: repeat(1, 1fr);
    margin-left: 30%;
  }
}

@media  only screen and (min-width: 577px) and (max-width: 992px){
  .category-container{
    grid-template-columns: repeat(2, 1fr);
  }
}